/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 767px) {
  .txtTaskName-parent {
    flex-direction: column;
  }
}

@media only screen and (max-width: 479px) {
  * {
    display: none !important;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  * {
    display: none !important;
  }
}
